html {
  box-sizing: border-box;
}
html body {
  margin: 0;
  background: #10293b;
  z-index: -100;
}
html body .header {
  background-color: #ec6e4b;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
html body .header img {
  width: 70px;
}
html body .header a {
  cursor: pointer;
  text-decoration: none;
}
html body .header a i {
  color: white;
  font-size: 26px;
}
html body .header a h2 {
  font-family: helvetica;
  font-weight: 400;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  margin: 15px 0;
}
html body .input-container {
  padding: 0 0 15px 0;
  display: flex;
  background: #10293b;
  justify-content: center;
}
html body .input-container #submit-container {
  background-color: transparent;
}
html body .input-container #submit-container #weather-search {
  width: 240px;
  height: 30px;
  border: 2px solid #ec6e4b;
  background: transparent;
  color: #ec6e4b;
  padding-left: 10px;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  text-transform: capitalize;
}
html body .input-container #submit-container #weather-search:focus {
  outline: none;
  padding-left: 10px;
}
html body .input-container #submit {
  border: 2px solid #ec6e4b;
  color: #ec6e4b;
  border-left: none;
  background: transparent;
  transition: all 0.5s;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  padding: 0 20px;
}
html body .input-container #submit:hover,
html body .input-container #submit:focus {
  outline-style: none;
  background: #ec6e4b;
  color: #10293b;
  cursor: pointer;
}
html body .input-container #submit:focus {
  color: #10293b;
  outline-style: none;
}
html body .input-container__icon {
  background-color: skyblue;
  padding: 0 10px;
}
html body .input-container__icon i {
  line-height: 32px;
}
html body .british-isles {
  position: relative;
}
html body .british-isles .map {
  width: 90%;
  height: 100%;
  margin: -30px auto 0 auto;
  display: block;
}
html body .british-isles .locations {
  background: #10293b7d;
  padding: 10px 15px;
  position: absolute;
  border-radius: 3px;
  color: white;
  font-family: helvetica;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid white;
}
html body .british-isles .manchester {
  left: 43%;
  top: 63%;
}
html body .british-isles .edinburgh {
  top: 42%;
  left: 54%;
}
html body .british-isles .belfast {
  top: 53%;
  left: 34%;
  top: 47%;
  left: 22%;
}
html body .british-isles .cardiff {
  top: 78%;
  left: 41%;
}
html body .british-isles .london {
  top: 80%;
  left: 62%;
}
html body .british-isles .inverness {
  top: 20%;
  left: 30%;
}
html body #current {
  color: white;
  font-family: helvetica;
  font-weight: 100;
  margin: 50px 30px 100px 30px;
}
html body #current h2 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
html body #current h3 {
  font-weight: 100;
  font-size: 17px;
  text-transform: capitalize;
}
html body #current .temp-container {
  display: flex;
  align-items: center;
}
html body #current .temp-container .temp {
  font-size: 50px;
  margin: 10px 0;
  font-weight: 600;
}
html body #current .tile {
  display: flex;
  flex-wrap: wrap;
  display: unset;
}
html body #current .tile div {
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  border-top: 1px solid white;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  font-size: 22px;
}
html body #current .tile div span {
  display: block;
  font-size: 22px;
}
html body #current .clicked {
  display: none;
}
html body #hourly {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #10293b;
}
html body #hourly .test-div {
  flex: 1 1 25%;
  color: white;
  font-family: helvetica;
  text-transform: capitalize;
  text-align: center;
}
html body #hourly .test-img {
  width: 80px;
}
html body .hourly-header {
  color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 36px;
  font-weight: 400;
}
