html {
  box-sizing: border-box;
}
html .container-login {
  color: white;
  font-family: helvetica;
  font-weight: 100;
  background: #ec6e4b;
  padding: 0 20px 20px 50px;
}
html .container-login span {
  padding-top: 20px;
  display: block;
  width: 100%;
}
html .container-login span i {
  float: right;
}
html .container-login h2 {
  font-size: 40px;
  margin: 0;
  padding: 30px 0;
}
html .container-login input {
  display: block;
  width: 100%;
  max-width: 80%;
  margin-bottom: 10px;
  border-radius: 10px;
  outline-style: none;
  outline: none;
  border: none;
  padding: 7px 12px;
  box-sizing: border-box;
}
html .container-login button {
  background: transparent;
  width: 80%;
  color: #fefefe;
  padding: 10px 12px;
  font-family: helvetica;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px 0 0 0;
  font-weight: 100;
  text-transform: capitalize;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
html .container-login button img {
  width: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
html .container-login button:focus {
  outline: none;
}
html body {
  margin: 0;
  background: #10293b;
  z-index: -100;
}
html body .container-login {
  color: white;
  font-family: helvetica;
  font-weight: 100;
}
html body .container-login h2 {
  font-size: 40px;
}
html body .container-login input {
  display: block;
  width: 100%;
  max-width: 80%;
  margin-bottom: 10px;
  border-radius: 10px;
  outline-style: none;
  outline: none;
  border: none;
  padding: 7px 12px;
  box-sizing: border-box;
}
html body .container-login button {
  background: transparent;
  width: 80%;
  color: #fefefe;
  padding: 10px 12px;
  font-family: helvetica;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: 100;
  text-transform: capitalize;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}
html body .container-login button:focus,
html body .container-login button:hover {
  outline-style: none;
  cursor: pointer;
  background: white;
  color: #ec6e4b;
}
html body .clicked {
  display: none;
}
html body.menu-open #body-overlay {
  display: block;
}
html body.menu-open .real-menu {
  left: 0;
  background: #ec6e4b;
  color: white;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}
html body.menu-open .real-menu #close {
  font-family: helvetica;
  font-size: 40px;
  margin-bottom: 50px;
  display: inline-block;
}
html body.menu-open .real-menu .pages {
  font-family: helvetica;
  font-weight: 100;
  padding: 20px 0;
  font-size: 22px;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
html body .header {
  background-color: #10293b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 5px 15px;
}
html body .header .logo {
  width: 50px;
  margin-top: 5px;
}
html body .header .social i {
  font-size: 30px;
}
html body .header a {
  cursor: pointer;
  text-decoration: none;
}
html body .header a i {
  color: white;
  font-size: 26px;
}
html body .header button {
  color: white;
  font-size: 26px;
  background: none;
  border: none;
  padding: 0;
}
html body .input-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
html body .input-container #submit-container {
  background-color: transparent;
}
html body .input-container #submit-container #weather-search {
  width: 240px;
  height: 30px;
  border: 2px solid #ec6e4b;
  background: transparent;
  color: #ec6e4b;
  padding-left: 10px;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  text-transform: capitalize;
}
html body .input-container #submit-container #weather-search:focus {
  outline: none;
  padding-left: 10px;
}
html body .input-container #submit {
  border: 2px solid #ec6e4b;
  color: #ec6e4b;
  border-left: none;
  background: transparent;
  transition: all 0.5s;
  border-radius: 0 3px 3px 0;
  height: 36px;
  width: 40px;
}
html body .input-container #submit:hover,
html body .input-container #submit:focus {
  outline-style: none;
  background: #ec6e4b;
  color: #10293b;
  cursor: pointer;
}
html body .input-container #submit i {
  font-size: 14px;
}
html body .input-container .input-container__icon {
  background-color: skyblue;
  padding: 0 10px;
}
html body .input-container .input-container__icon i {
  line-height: 32px;
}
html body .british-isles {
  position: relative;
}
html body .british-isles .map {
  width: 90%;
  height: 100%;
  margin: -30px auto 0 auto;
  display: block;
}
html body .british-isles .locations {
  background: #10293b7d;
  padding: 10px 15px;
  position: absolute;
  border-radius: 3px;
  color: white;
  font-family: helvetica;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid white;
}
html body .british-isles .manchester {
  left: 43%;
  top: 63%;
}
html body .british-isles .edinburgh {
  top: 42%;
  left: 54%;
}
html body .british-isles .belfast {
  top: 53%;
  left: 34%;
  top: 47%;
  left: 22%;
}
html body .british-isles .cardiff {
  top: 78%;
  left: 41%;
}
html body .british-isles .london {
  top: 80%;
  left: 62%;
}
html body .british-isles .inverness {
  top: 20%;
  left: 30%;
}
html body #current {
  color: white;
  font-family: helvetica;
  font-weight: 100;
  margin: 20px 10px 100px 10px;
  padding: 20px;
  border: 1px solid #ec6e4b;
  border-radius: 10px;
}
html body #current h2 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
html body #current h3 {
  font-weight: 100;
  font-size: 17px;
  text-transform: capitalize;
}
html body #current .temp-container {
  display: flex;
  align-items: center;
}
html body #current .temp-container .temp {
  font-size: 50px;
  margin: 10px 0;
  font-weight: 600;
}
html body #current .tile {
  display: flex;
  flex-wrap: wrap;
  display: unset;
}
html body #current .tile div {
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  border-top: 1px solid white;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  font-size: 22px;
}
html body #current .tile div span {
  display: block;
  font-size: 22px;
}
html body #hourly {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ec6e4b;
  border-radius: 10px;
  margin: 10px;
  overflow: scroll;
}
html body #hourly #test-div-container {
  margin-bottom: 10px;
  display: flex;
}
html body #hourly #test-div-container #test-div {
  margin: 0 15px;
}
html body #hourly #test-div-container #test-div:last-of-type {
  margin-right: 30px;
}
html body #hourly #test-div-container #test-div .test-div {
  color: white;
  font-family: helvetica;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 16px;
  font-weight: 100;
}
html body #hourly #test-div-container .test-img {
  width: 50px;
}
html body .hourly-header {
  color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 36px;
  font-weight: 400;
}
#body-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.real-menu {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 4;
  width: 300px;
  height: 100%;
  padding: 1.5rem;
  box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease 0.2s all;
}
